extends _Template.pug
block pageContent
    div(style='height:400px;text-align:center;display:grid;align-items:center;align-content:center;')
        p(style='font-weight:bold;font-size:xx-large;color:var(--color-accent)') UNDER CONSTRUCTION
        p(style='font-weight:bold;') CONTACT